
#input {
	background-color:#1d1f21;
	color:#c5c8c6;
	margin: 0;
	border-radius: 0px;
	border-style:none;
}

#entry:selected {
	background-color: #c5c8c6;
	color: #1d1f21;
}
#text:selected {
	color:#1d1f21;
}
#scroll {
	background-color: #1d1f21;
	color: #c5c8c6;
	margin: 0px;
}

